@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  font-family: "Montserrat", sans-serif !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* About page */
html,
body {
  overflow-x: hidden;
}
.about-intro {
  background-color: #112b3c;
  background-image: linear-gradient(315deg, #112b3c, #0d354f 74%);
  overflow-x: hidden !important;
  position: absolute;
  transform: rotate(12deg);
  top: -22%;
  right: 55px;
  left: -100px;
  border-radius: 20px;
}
.boxshadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 13px;
}
